

:root {
  --white: #fff;
  --strawb: #fc5a8d;
  --deep-yellow: #ffc727;
  --footer-yellow: #fff9e9;
}

html {
  font-size: 62.5%;
  
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

section {
  padding: 2rem 9%;
}

.strawb {
  color: var(--strawb);
}
 
.logo {
  font-size: 3.6rem;
  font-weight: 800;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  height: 8rem;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*z-index: 1000;*/
}

.header .hamburger img {
  width: 3rem;
}

.header .hamburger {
  display: none;
}

.home .image #image {
  height: 10%;
  width: 90%;

}
.navbar a {
  font-weight: 500;
  transition: var(--transition);
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.navbar a:not(:last-child) {
  margin-right: 1rem;
}

.navbar a:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}

.btn {
  display: inline-block;
  color: var(--strawb);
  background-color: var(--btn-yellow);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: var(--box-shadow);
}



@media (max-width: 996px) {
  .logo {
    font-size: 3rem;
  }

  .navbar a {
    padding: 0.5rem;
  }

  .navbar a:not(:last-child) {
    margin-right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .header .navbar {
    position: fixed;
    left: 0;
    right: 0;
    width: 90%;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    text-align: center;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    top: -100%;
  }

  .header .navbar a:last-child {
    display: none;
  }

  .header .hamburger {
    display: block;
  }

  .navbar.show {
    top: 9rem;
  }
}


.footer .top {
  background-color: var(--footer-yellow);
  padding: 10rem 9%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer .top .links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer .bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  background-color: var(--deep-yellow);
}

.footer .top .content p {
  color: var(--grey);
  margin-top: 2rem;
  width: 90%;
}

.footer .top .link h4 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.footer .top .link a {
  display: inline-block;
  color: var(--grey);
  margin-bottom: 1rem;
}

.footer .top .link span {
  color: var(--grey);
}

.footer .top .link a {
  display: block;
}

.footer .top .link div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer .top .link div img {
  margin-right: 1rem;
}

